body {
    text-align: center;
    background-color: black;
    font-size: 20px;
}
header{
background-color: black;
font-family: 'Times New Roman', Times, serif; 
padding: 10px;
margin: center;
}
main > a {
    background-color: black;

}
nav > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-right: 20px;
  display: inline-flex; /* Altera o comportamento padrão para que os links fiquem em linha */
}

@media screen and (max-width: 600px) {
  nav {
    text-align: center; /* Centraliza os elementos dentro de <nav> */
    max-width: 100%; /* Adiciona uma largura máxima para <nav> */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se os elementos dentro de <nav> forem muito largos */
  }

  nav > a {
    margin-right: 10px; /* Reduz a margem entre os links */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    display: inline-block; /* Certifique-se de que os links fiquem em linha */
    white-space: nowrap; /* Impede que os links quebrem para a próxima linha */
    line-height: normal; /* Define a altura da linha para o padrão */
    vertical-align: middle; /* Alinha verticalmente os elementos */
  }
}
@media screen and (max-width: 500px) {
    main {
      width: 450px;
      margin: center; /* Para centralizar o conteúdo */
    }
  }
  main img {
    max-width: 100%;
    height: auto; }
  /* Estilos para telas médias (entre 450px e 1200px) */
  @media screen and (min-width: 451px) and (max-width: 1199px) {
    main {
      width: 100%; /* Use a largura total da tela */
      padding: 0 20px; /* Adicione algum espaço de preenchimento nas laterais */
      box-sizing: border-box; /* Certifique-se de que o preenchimento não aumenta a largura total */
    }
  }
  .catalog {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}
.category {
    margin-bottom: 10px;
}
.category h3 {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
}
.category-content {
    display: none; /* Inicialmente oculto */
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    border-top: none;
}
.category-content p {
margin: 0;
padding: 5px;
background-color: #f0f0f0;
white-space: nowrap; /* Impede que os links quebrem para a próxima linha */
overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se os links forem muito largos */
}

.category-content p a {
display: inline-block; /* Permite que os links se comportem como blocos inline */
margin-right: 5px; /* Adiciona um espaço entre os links */
margin-bottom: 5px; /* Adiciona um espaço abaixo dos links */
background-color: black;
color: white;
padding: 5px;
border-radius: 5px;
text-decoration: none; /* Remove o sublinhado padrão */
}
/* Centralizar conteúdo */
.category-content {
    padding-left: 20px; /* Adiciona um recuo para manter o conteúdo alinhado à esquerda */
}

a {
background-color: black;
text-decoration: none;
color: white;
padding: 10px;
border-radius: 10px;
text-align: center;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  area {
    cursor: pointer;
  }

